<template>
	<footer>
		<img id="main-btn" src="../assets/logo.png" class="main-image" @click="onClickHome" v-if="type === 0">
		<div class="input-area" v-else-if="type === 1">
			<input class="message-area" type="text" placeholder="메시지 입력" @keydown.enter="onClickSend" v-model="message">
			<button class="send-btn" @click="onClickSend">전송</button>
		</div>
	</footer>
</template>

<script>
export default {
  props: ['type'],
  data() {
    return {
      message: ''
    }
  },
	methods: {
		onClickHome() { // 홈키 버튼 
			this.$emit('onClickHome')
    },
    onClickSend() { // 채팅방에서 메시지전송 버튼 
      if(this.message) {
        this.$emit('onClickSend', this.message) // MainComponent @onClickSend
        this.message = ''
      }
    }
	}
}
</script>

<style>
footer {
	width: 100%;
	height: 75px;
	background-color: #eee;
	position: fixed;
	bottom: 0;
	left: 0;
}
.main-image {
	display: block;
	width: 50px;
	border: 3px solid #42b983;
	margin: auto;
	margin-top: 8px;
	border-radius: 50%;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
	transition: 0.5s;
}
.main-image:hover {
	box-shadow: 0px 0px 0px -5px rgba(0, 0, 0, 0.8);
	width: 46px;
	margin-top: 10px;
}
.input-area {
	margin: 0px;
	margin-top: 24px;
	width: 100%;
}
.message-area {
	margin: 0px;
	width: 70%;
	height: 28px;
	padding-left: 20px;
	background-color: #eee;
	border: none;
}
.send-btn {
	float: right;
	margin: 0px;
	margin-right: 20px;
	border-radius: 5px;
	width: 15%;
	height: 28px;
	border: none;
}
</style>
