<template>
	<div class="message-log" v-if="loading">
		데이터 불러오는 중
	</div>
	<div v-else>		
    <div v-if="friends.length"> 
      <div class="list-item" v-for="user in friends" v-bind:key="user" @click="onClickFriend(user)">
        <b class="user-name">{{user.name}}</b>
        <br><br><br>
        <span class="status" v-bind:class="[Object.values(connected).indexOf(user.id) !== -1 ? 'connected' : 'disconnected']"></span>
        {{user.id}}
      </div>
    </div>
		<div class="message-log" v-else>
			친구 데이터가 없습니다
			<br><br>
			<a class="sub-text">검색하여 친구를 추가하세요</a>
		</div>
	</div>
</template>

<script>
export default {
	props: ['loading', 'friends', 'connected'],
  methods: {
    onClickFriend(user) { // ChatContent로 이벤트 발생 
      this.$emit('onClickFriend', user)
    }
  }
}
</script>

<style>
.board {
	background-color: #fff;
	overflow: auto;
	width: 100%;
	position: fixed;
	top: 75px;
	bottom: 75px;
}
.status {
	width: 12px;
	height: 12px;
	border-radius: 50%;
}
.connected {
	float: right;
	background-color: #41b883;
}
.disconnected {
	float: right;
	background-color: #35495e;
}
</style>
