<template>
	<header>
    <div class="btn-back" v-if="title === '채팅'" @click="onClickBack"></div>
		<input class="header-input" type="text" placeholder="유저검색" v-model="keyword" @keydown.enter="search" @blur="search">
		<br>
		<div class="header-title">
			<b>{{title}}</b>
		</div>
	</header>
</template>

<script>
export default {
	props: ['title'],
	data() {
		return {
      keyword: '' // 검색 내용 
		}
  },
	methods: {
		search() { // 검색 
      var keyword = this.keyword
			if(keyword){
        this.$http.post('/process/search', {keyword: keyword}).then((result) => {
          if(!result.data.err) {
            this.$emit('onSearch', keyword)
          } else {
            throw new Error()
          }
        }).catch((err) => {
          console.error('Search error')
        })
        this.keyword = '' // 검색 후 성공 여부와 관계없이 빈칸으로 바꿈 
			}
    },
    onClickBack() { // MainComponent @onClickBack
      this.$emit('onClickBack')
    }
	}
}
</script>

<style>
header {
	color: #35495e;
	background-color: #eee;
	position: fixed;
	width: 100%;
	height: 75px;
	text-align: center;
	font-size: 1.3rem;
	top: 0;
  left: 0;
}
.header-input {
  margin-top: 10px;
	border: none;
	background: #ddd;
	border-radius: 5px;
	width: 60%;
	height: 24px;
	text-align: center;
}
.header-title {
	margin-top: 7px;
}
.btn-back {
  width: 25px;
  height: 25px;
  position: fixed;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-weight: bold;
  top: 10px;
  left: 10px;
  color: #35495e;
}
.btn-back:hover {
  background: #aaa;
}
.btn-back::before {
  content: '<'
}
</style>
