<template>
	<div v-if="detail">
		<div class="content-title">
			<br>{{contentTitle}}
		</div>
    <div class="content-area">
      {{content}}
    </div>
    <br>
    <div class="btn-group" v-if="type === 0">
      <button class="btn" @click="onAccept(true)">수락</button>
      <button class="btn" @click="onAccept(false)">거절</button>
    </div>
    <div class="btn-group" v-else>
      <button class="btn" @click="onCheck">확인</button>
    </div>
	</div>
  <div v-else>
    <div class="list-item room" @click="onClickRoom">
			<br>자유 채팅방
		</div>
		<div v-if="message.length || invite.length">
      <div class="list-item" v-for="item in invite" v-bind:key="item" @click="onClickInvite(item, 0)">
				<b class="user-name">{{'"'+ item.name + '" 님의 친구신청'}}</b>
        <br><br><br>
			</div>
			<div class="list-item" v-for="item in message" v-bind:key="item" @click="onClickMessage(item, 1)">
				<b class="user-name">{{item.name}}</b>
				<div class="time">{{dateFormat(item.date)}}</div>
        <br><br>
				<p class="text-overflow">{{item.content}}</p>
			</div>
		</div>
		<div v-else>
			<div class="message-log">
				알림이 없습니다
			</div>
		</div>
    <modal v-if="modal" @close="modal = false">
		  <h3 slot="header">{{modalTitle}}</h3>
		  <div slot="body">{{modalBody}}</div>
		</modal>
  </div>
</template>

<script>
import Modal from './common/Modal.vue'

export default {
	data() {
		return {
      detail: false, // 알림 클릭시 자세히 보기 flag (true: 자세히 보기)
      item: {}, // 알림 데이터 임시저장 (알림 클릭시 임시로 보관)
      type: 0, // 버튼 형식 (메시지 알림: 확인버튼, 친구신청: 수락, 거절)
      invite: [], // 친구신청 저장
      message: [], // 메시지 저장
      modalTitle: '', // 모달 
      modalBody: '',
      modal: false
		}
  },
  components: {
    'modal': Modal
  },
  created() { 
    this.getNotice()
  },
	methods: {
    showModal(title, body) { // 모달 띄우기 
      this.modalTitle = title
      this.modalBody = body
      this.modal = true
    },
    getNotice() { // 알림 내역 불러오기 
      console.log('getNotice()')
      this.invite = []
      this.notice = []
      this.$http.post('/process/getNotice').then(result => {
        var notice = result.data.notice
        this.message = notice.message
        this.invite = notice.invite
      }).catch(err => {
        console.log(err)
        this.showModal('에러', '알림을 불러올 수 없습니다')
      })
    },
		onClickRoom() { // 채팅방 참여 
			this.$emit('onClickRoom') // ChatContent @onClickRoom 
    },
    onCheck() { // 메시지 읽고 확인버튼 클릭 
      var id = this.item.notice_id
      this.$http.post('/process/readMessage', {id: id}).then(result => { // 읽은 메시지는 삭제 
        if(result.success) {
          this.getNotice()
        }
        this.detail = false
      }).catch(err => {
        console.log(err)
      })
    },
    onClickInvite(item, type) { // 친구신청 클릭 
      this.item = item
      this.contentTitle = '친구신청'
      this.content = `${item.name}(${item.user1_id})님이 친구를 신청하였습니다.`
      this.type = type
      this.detail = true
    },
    onClickMessage(item, type) { // 메시지 클릭 
      this.item = item
      this.contentTitle = item.name
      this.content = item.content
      this.type = type
      this.detail = true
    },
    onAccept(accept) { // 친구신청 수락 
      var id = this.item.friend_id
      this.$http.post('/process/friendAccept', {id: id, accept: accept}).then(result => {
        this.getNotice() // 알림 가져오기 
        if(result.data.success) {
          this.$emit('onAccept') // ChatContent @onAccept
        }
      }).catch(err => {
        console.error(err)
      })
      this.detail = false
    },
    dateFormat(date) { // 날짜 포맷 (ex. 2018-02-08)
      var dt = new Date(date)
      return `${dt.getFullYear()}-${dt.getDate()}-${dt.getMonth()+1}`
    }
  }
}
</script>

<style>
.room {
	cursor: pointer;
	background-color: #41b883;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 1.1rem;
}
.room:hover {
	background-color: #358d65;
}
.content-title {
  padding: 3px 3%;
	width: 94%;
  height: 75px;
  color: #fff;
  background-color: #41b883;
  border-radius: 0px 0px 15px 15px;
  font-weight: bold;
  text-align: center;
}
.content-area {
  padding: 3px 3%;
  width: 94%;
  text-align: center;
}
.btn {
  background-color: #35495e;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 30%;
  height: 18%;
}
.btn:hover {
  background-color: #092238;
  color: #eee;
}
.btn-group {
  width: 100%;
  margin: auto;
  text-align: center;
}
</style>
