<template>
  <div id="message-area"></div>
</template>

<script>
import {EventBus} from '../event-bus.js'

var _user = {}
EventBus.$on('user-info', user => {
  console.log(user)
  _user = user
})

export default {
  data() {
    return {
      user: _user
    }
  },
	created() { // 해당 컴포넌트 진입시 서버소켓의 joinChat 이벤트 발생 
    this.$socket.emit('joinChat', this.user)
  },
  methods: {
    autoScroll() { // 메시지가 입력되면 자동 스크롤 
      document.documentElement.scrollTop // TODO: Not work
    }
  },
  sockets: { // Socket.io 이벤트 
    chatConnected(user) { // 신규 접속자 
      document.getElementById('message-area').innerHTML += `<div class="wrap server-message">${user.name}(${user.id})님이 접속하였습니다</div>`
      this.autoScroll()
    },
    chatDisconnected(user) { // 접속 종료 
      document.getElementById('message-area').innerHTML += `<div class="wrap server-message">${user.name}(${user.id})님이 종료하였습니다</div>`
      this.autoScroll()
    },
    chatRecive(data) { // 메시지 수신 
      if(data.user.id === this.user.id) {
        document.getElementById('message-area').innerHTML += `<div class="wrap"><div class="message me">${data.message}</div></div>`
      } else {
        document.getElementById('message-area').innerHTML += `<div class="wrap"><div class="message opponent"><b>${data.user.name}:</b> ${data.message}</div></div>`
      }
      this.autoScroll()
    }
  }
}
</script>

<style>
#message-area {
  height: 300px;
}
.wrap {
	margin: 5px 0px;
	width: 100%;
  height: 40px;
  position: relative;
}
.message {
	border-radius: 10px;
	padding: 10px;
	display: inline-block;
}
.opponent {
	float: left;
	background-color: #ddd;
	color: #000;
	margin-left: 2%;
}
.me {
	float: right;
	background-color: #42b983;
	color: #fff;
	margin-right: 2%;
}
.server-message {
  margin: 5px 2%;
  padding: 2%;
  width: 92%;
  border-radius: 10px;
  background-color: #35495e;
  text-align: center;
  color: #fff;
}
</style>
