<template>
	<div class="board">
		<div v-if="loading">
			<div v-if="friendLoadError">
				<div class="message-log">
					오류가 발생하였습니다
					<br><br>
					<a class="sub-text" @click="onRetry">다시시도</a>
				</div>	
			</div>
			<div v-else>
				<div class="message-log">
					불러오는 중
				</div>
			</div>
		</div>
		<div v-else>
			<div v-if="!chat">
				<div v-if="showList">
					<chat-list v-bind:friends="friends" v-bind:connected="connected" @onClickFriend="onClickFriend"></chat-list>
				</div>
				<div v-else>
					<chat-notice @onClickRoom="onClickRoom" @onAccept="onAccept"></chat-notice>
				</div>
			</div>
			<div v-else>
				<chat-room></chat-room>
			</div>
		</div>
    <modal v-if="modal" @close="onClose">
		  <h3 slot="header">{{modalTitle}}</h3>
		  <div slot="button-1">친구삭제</div>
      <div slot="button-2">메시지보내기</div>
		</modal>
	</div>
</template>

<script>
import ChatList from './ChatList.vue'
import ChatNotice from './ChatNotice.vue'
import ChatRoom from './ChatRoom.vue'
import Modal from './common/SelectModal.vue'

export default {
	props: ['showList', 'chat'],
	data() {
		return {
			loading: true, // 친구목록 불러오는 중 
			friendLoadError: false, // 친구목록 에러 
      friends: [], // 친구목록 저장 
      friend: {}, 
			connected: [], // 현재 접속중인 유저  
      modalTitle: '',
      modalBody: '',
      modal: false
		}
	},
	created() {
		this.getFriends()
	},
	components: {
		'chat-list': ChatList,
		'chat-notice': ChatNotice,
    'chat-room': ChatRoom,
    'modal': Modal
	},
	methods: {
    showModal(title, body) { // 모달
      this.modalTitle = title
      this.modalBody = body
      this.modal = true
    },
		getFriends() { // 친구 불러오기 
      console.log('getFriends()')
			this.loading = true
      this.friendLoadError = false 
      this.friends = []
			this.$http.post('/process/getFriends').then((result) => {
        if(!result.data.err) {
          var friends = result.data.friends
          friends.forEach(friend => {
            this.friends.push(friend)
          })
          this.loading = false
        } else {
          throw new Error()
        }
			}).catch((err) => {
				console.error(err)
			})
		},
		onRetry() { // 에러발생시 다시시도 버튼 클릭  
			this.getFriends()
		},
		onClickRoom() { // ChatNotice 채팅방 클릭 
			this.$emit('changeTitle', '채팅')
      this.$emit('changeFooterType', 1)
    },
    onAccept() { // 친구 수락시 다시 친구목록 불러오기 
      this.getFriends()
    },
    onClickFriend(user) { // 친구 클릭  
      this.friend = user
      this.showModal(user.name, '')
    },
    onClose(value) { 
      this.modal = false
      if(value === 1) { // 삭제버튼으로 모달 닫힘 
        this.$http.post('/process/deleteFriend', {user: this.friend}).then((result) => {
          if(result.data.success) {
            this.getFriends()
          } else {
            throw new Error()
          }
        }).catch((err) => {
          console.error(err)
        })
      } else if(value === 2) { // 메시지보내기 버튼으로 닫힘 
        alert('메시지 보내기')
      }
    }
	},
	sockets: { 
		connectedUsers(users) {
      // 서버소켓에 접속한 유저가 있으면 접속한 유저들 실시간으로 불러오기
			this.connected = users
		}
	},
}
</script>

<style>
.board {
	background-color: #fff;
	overflow-y: auto;
	position: fixed;
	top: 75px;
	bottom: 75px;
}
.message-log {
	text-align: center;
	margin-top: 40%;
	color: #41b883;
}
.sub-text {
	cursor: pointer;
	color: #35495e;
}
.sub-text:hover {
	text-decoration: underline;
}
.list-item {
	padding: 3px 3%;
	width: 94%;
	height: 75px;
	border-bottom: 1px solid lightgray;
	background-color: #fff;
}
.text-overflow {
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}
.time {
  float: right;
  color: #41b883;
}
</style>
