<template>
	<div class="wrapper popup">
		<h1 class="title">CoiDroid</h1>
		<form @submit.prevent="onSubmit">
			<div class="input-area">
				<input class="input" placeholder="이메일" type="text" v-model="email" required>
				<span class="underline"></span>
			</div>
			<br>
			<div class="input-area">
				<input class="input" type="password" placeholder="비밀번호" v-model="password" required>
				<span class="underline"></span>
			</div>
			<input class="btn-submit" type="submit" value="로그인">
		</form>
		<a class="under-text" v-on:click="onClickRegister">회원가입</a>
    <modal v-if="modal" @close="modal = false">
		  <h3 slot="header">{{modalTitle}}</h3>
		  <div slot="body">{{modalBody}}</div>
		</modal>
	</div>
</template>

<script>
import Modal from './common/Modal.vue'

export default {
	data() {
		return {
			email: '',
      password: '',
      modalTitle: '',
      modalBody: '',
      modal: false
		}
  },
  components: {
    'modal': Modal
  },
  methods: {
    showModal(title, body) {
      this.modalTitle = title
      this.modalBody = body
      this.modal = true
    },
    onClickRegister() { // 회원가입 버튼 
      this.$emit('onClickRegister', 'REGISTER')
		},
		onSubmit() { // 로그인버튼 
			this.$http.post('/process/login', {email: this.email, password: this.password}).then(result => {
				var user = result.data.user
				if(user){
					this.$emit('onLogin', user)
				} else {
					this.showModal('알림', '정보를 확인해주세요')
				}
			}).catch(err => {
				this.showModal('에러', '서버에 문제가 발생하였습니다')
			})
			this.password = ''
		}
  }
}
</script>

<style>
*:focus {
    outline: none;
}

.wrapper {
  background-color: #FFF;
  box-shadow: 0px 2px 4px 0px #AAA;
  border-radius: 10px;
  height: 300px;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  .wrapper {
    width: 60%;
    left: 20%;
  }
}

@media screen and (min-width: 1024px){
  .wrapper {
    width: 50%;
    left: 25%;
  }
}

.title {
	position: absolute;
  color: #fff;
  text-align: center;
  width: 50%;
  top: -40%;
  left: 25%;
}

.popup {
  animation: popup 1s alternate;
}

@-webkit-keyframes popup{
  0%{
    opacity: 0;
    top: 0px;
  }

  100% {
    opacity: 1;
    top: 30%;
  }
}
</style>
