<template>
	<div class="wrapper-main">
		<chat-header v-bind:title="headerTitle" @onSearch="onSearch" @onClickBack="onClickBack"></chat-header>
		<chat-content v-bind:showList="showList" v-bind:chat="chat" @changeTitle="changeTitle" @changeFooterType="changeFooterType"></chat-content>
		<chat-footer v-bind:type="type" @onClickHome="onClickHome" @onClickSend="onClickSend"></chat-footer>
    <select-modal v-if="modal" @close="onClose">
		  <h3 slot="header">{{modalTitle}}</h3>
		  <div slot="button-1">취소</div>
      <div slot="button-2">친구신청</div>
		</select-modal>
    <modal v-if="alertModal" @close="alertModal = false">
		  <h3 slot="header">{{alertTitle}}</h3>
		  <div slot="body">{{alertBody}}</div>
		</modal>
	</div>
</template>

<script>
import {EventBus} from '../event-bus'

import ChatHeader from './ChatHeader.vue'
import ChatContent from './ChatContent.vue'
import ChatFooter from './ChatFooter.vue'
import SelectModal from './common/SelectModal.vue'
import Modal from './common/Modal.vue'

export default {
	props: ['user'],
	data() {
		return {
			headerTitle: '', // 헤더 제목 
			showList: true, // 친구목록 
      type: 0,
      chat: false,
      keyword: '',
      modalTitle: '', 
      modal: false,
      alertModal: false, // 알림 모달 
      alertTitle: '',
      alertBody: ''
		}
	},
	created() {
		this.headerTitle = '친구 목록'
		this.$socket.emit('login', this.user.id) // 서버소켓에 접속 아이디를 전송 
	},	
	components: {
		'chat-header': ChatHeader,
		'chat-content': ChatContent,
    'chat-footer': ChatFooter,
    'select-modal': SelectModal,
    'modal': Modal
	},
	methods: {
    showModal(title) { // 모달 
      this.modalTitle = title
      this.modal = true
    },
    showAlertModal(title, body) {
      this.alertTitle = title
      this.alertBody = body 
      this.alertModal = true
    },
		onClickHome() { // 홈키 
			this.showList = !this.showList
			this.headerTitle = this.showList ? '친구 목록' : '알림' // 토글 
    },
    onSearch(keyword) { // 검색 
      this.keyword = keyword
      this.showModal(keyword)
    }, 
    onClickBack() { // 채팅방에서 뒤로가기 버튼  
      this.$socket.emit('leaveChat', this.user)
      this.changeTitle('알림')
      this.changeFooterType(0)
      this.chat = false
    },
    onClickSend(message) { // 채팅 메시지 전송 
      this.$socket.emit('sendMessage', {user: this.user, message: message})
    },
    onClose(value) { // 친구 신청 
      this.modal = false
      if(value === 1) { 
        
      } else if(value === 2) { // 친구신청 
        if(this.user.id === this.keyword) {
          this.showAlertModal('알림', '본인에게 친구신청을 할 수 없습니다')
        } else {
          this.$http.post('/process/invite', {target: this.keyword}).then((result) => {
            if(!result.data.success) {
              throw new Error()
            }
          }).catch((err) => {
            this.showAlertModal('알림', '이미 친구이거나 친구신청이 존재합니다')
          })
        }
      } else {
        
      }
    },
		changeTitle(title) { // 헤더 타이틀 변경 
			this.headerTitle = title
		},
		changeFooterType(type) { // 하단영역 타입 변경 
      this.type = type
      if(type === 1) {
        this.chat = true
        EventBus.$emit('user-info', this.user) // 이벤트버스를 통해 ChatRoom에 유저정보 전달 
      }
    }
	}
}
</script>

<style>
.shadow {
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.03);
}
</style>
