<template>
  <div class="wrapper-register">
    <h1 class="title-register">회원가입</h1>
		<transition name="fade" mode="out-in">
			<form @submit.prevent="onSubmit" v-if="inProcess">
				<div class="input-area">
					<input class="input" name="name" placeholder="이름" type="text" v-model="inputName" @blur="checkName" required>
					<span class="underline"></span>
					<span class="error" v-if="nameError"></span>
				</div>
				<br>
				<div class="input-area">
					<input class="input" name="email" placeholder="이메일" type="email" v-model="inputEmail" @blur="checkEmail" v-bind:disabled="checking" required>
					<span class="underline"></span>
					<span class="error" v-if="emailError"></span>
					<span class="loader" v-if="checking"></span>
				</div>
				<br>
				<div class="input-area">
					<input class="input" name="password" type="password" placeholder="비밀번호" v-model="inputPassword" @blur="checkPassword" required>
					<span class="underline"></span>
					<span class="error" v-if="passwordError"></span>
				</div>
				<br>
				<div class="input-area">
					<input class="input" type="password" placeholder="비밀번호 재입력" v-model="inputRePassword" @blur="checkRePassword" required>
					<span class="underline"></span>
					<span class="error" v-if="repasswordError"></span>
				</div>
				<transition name="fade" mode="out-in"> 
					<input class="btn-submit" type="submit" value="제출" v-if="percent >= 100">
					<div class="percent" v-else>{{percent}}%</div>
				</transition>
			</form>
			<div v-else>
				<div class="result-text" v-if="success">
					<div class="text-center">
						<b class="user-name">{{inputName}}</b>님<br>회원가입을 환영합니다
					</div>
					<a class="under-text" @click="onClickBack">로그인</a>
				</div>
				<div v-else>
					<div class="text-center">
						<div class="wait"></div>
					</div>
				</div>
			</div>
		</transition>
    <a class="under-text" @click="onClickBack" v-if="inProcess">뒤로가기</a>
    <modal v-if="modal" @close="modal = false">
		  <h3 slot="header">{{modalTitle}}</h3>
		  <div slot="body">{{modalBody}}</div>
		</modal>
  </div>
</template>

<script>
import Modal from './common/Modal.vue'

export default {
  data () {
    return {
      inputName: '',
      inputEmail: '',
      inputPassword: '',
      inputRePassword: '',
      name: false,
      email: false,
      checking: false,
      password: false,
      repassword: false,
      nameError: false,
      emailError: false,
      passwordError: false,
      repasswordError: false,
      inProcess: true,
      success: false,
      modal: false,
      modalTitle: '',
      modalBody: ''
    }
  },
  components: {
    'modal': Modal
  },
  computed: {
    percent() { // 퍼센트 확인 (4항목 모두 진행시 100)
      var percent = 0;
      if(this.name) {
        percent += 25
      }
      if(this.email && !this.checking) {
        percent += 25
      }
      if(this.password) {
        percent += 25
      }
      if(this.repassword) {
        percent += 25
      }
      return percent
    }
  },
  methods: {
    showModal(title, body) { // 모달 
      this.modalTitle = title
      this.modalBody = body
      this.modal = true
    },
    checkName() { // 이름 형식 체크 
      var regExp = /^[0-9a-zA-Z가-힣]{2,6}$/
      if(this.inputName.match(regExp)){
        this.name = true
        this.nameError = false
      } else {
        this.name = false
				this.nameError = true
				this.showModal('이름', '숫자, 영문, 한글 [2~6 자리]')
      }
    },
    checkEmail() { // 이메일 형식 체크 
      var regExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i
      if(this.inputEmail.match(regExp)){
        this.checking = true
        this.$http.post('/process/emailCheck', {email: this.inputEmail}) // 중복 확인 
          .then(result => {
            if(result.data.available) {
              this.email = true
              this.emailError = false
            } else {
              this.email = false
              this.emailError = true
              this.showModal('알림', '이미 사용중인 이메일입니다')
            }
          }).catch(err => {
            this.email = false
            this.emailError = true
            this.showModal('에러', '서버에 문제가 발생하였습니다')
          })
          this.checking = false  
      } else {
        this.email = false
				this.emailError = true
				this.showModal('이메일', '이메일 형식을 확인해주세요')
      }
    },
    checkPassword() { // 비밀번호 형식 체크 
      var regExp = /^[0-9a-zA-Z]{6,14}$/
      if(this.inputPassword.match(regExp)){
        this.password = true
        this.passwordError = false
      } else {
        this.password = false
				this.passwordError = true
				this.showModal('비밀번호', '숫자, 영문 [6~14 자리]')
      }
    },
    checkRePassword() { // 비밀번호 재입력 형식 체크 
      var regExp = /^[0-9a-zA-Z]{6,14}$/
      if(this.inputRePassword.match(regExp) && this.inputPassword === this.inputRePassword){
        this.repassword = true
        this.repasswordError = false
      } else {
        this.repassword = false
				this.repasswordError = true
				this.showModal('비밀번호 확인', '비밀번호를 확인해주세요')
      }
    },
    onClickBack() { // 뒤로가기 (로그인화면으로)
      this.$emit('onClickBack', 'LOGIN')
    },
    onSubmit() { // 회원가입 제출 
      this.inProcess = false
      this.success = false
      this.$http.post('/process/register', {name: this.inputName, email: this.inputEmail, password: this.inputPassword})
        .then(result => {
          this.success = result.data.success
        }).catch(err => {
          alert('서버에 문제가 발생하였습니다')
          location.reload()
        })
    }
  }
}
</script>

<style>
.wrapper-register {
  background-color: #FFF;
  box-shadow: 0px 2px 4px 0px #AAA;
  border-radius: 10px;
  height: 400px;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  .wrapper-register {
    width: 60%;
    left: 20%;
  }
}

@media screen and (min-width: 1024px){
  .wrapper-register {
    width: 50%;
    left: 25%;
  }
}

.title-register {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 50%;
  top: -35%;
  left: 25%;
}

.percent {
  position: absolute;
  color: #41b883;
  border: 1px solid#35495e;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  bottom: 10%;
  left: 35%;
}

.error {
  background-color: #b84141;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  right: 10%;
  bottom: -30px;
  width: 20px;
  height: 20px;
}

.error::before {
  content: '!'
}

.text-center {
  text-align: center;
  margin: auto;
}

.result-text {
  padding-top: 100px;
  font-size: 16px;
}

.loader {
  background-color: #41b883;
  position: absolute;
  right: 45%;
  bottom: -30px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: load 1s infinite;
}

.wait {
  background-color: #41b883;
  border-radius: 50%;
  margin: auto;
  margin-top: 30%;
  width: 80px;
  height: 80px;
  animation: load 1s infinite;
}

.user-name {
  color: #41b883;
}

@-webkit-keyframes load {
    0% { 
      opacity: 1.0;
      transform: scale(0)
    }
    100% { 
      opacity: 0.0;
      transform: scale(1)
    }
}
</style>
