<template>
	<transition name="modal">
		<div class="modal-mask">
			<div class="modal-wrapper">
				<div class="modal-container">
          <button class="modal-close" @click="$emit('close', 0)"></button>
					<div class="modal-header">
						<slot name="header">
							<!-- 제목 -->
						</slot>
					</div>
					<div class="modal-body">
						<div class="modal-button-area">
              <button class="modal-button modal-button-1" @click="$emit('close', 1)">
                <slot name="button-1">거절</slot>
              </button>
              <button class="modal-button modal-button-2" @click="$emit('close', 2)">
                <slot name="button-2">수락</slot>
              </button>
            </div>
					</div>
				</div>
			</div>
		</div>
  </transition>
</template>

<script>
export default {
	name: 'modal'
}
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  transition: opacity .3s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  width: 70%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  position: relative;
  transition: all .3s ease;
}
.modal-header {
  text-align: center;
  margin-top: 0;
}
.modal-body {
  text-align: center;
  margin: 10px 0;
	font-size: 0.8rem;
}
.modal-button {
  padding: 4px 10px;
	cursor: pointer;
	background-color: transparent;
	border-radius: 10px;
}
.modal-button-1 {
  color: #b84176;
	border: 1px solid #b84176;
}
.modal-button-2 {
	color: #41b883;
	border: 1px solid #41b883;
}
.modal-close {
  padding: 4px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
	cursor: pointer;
  background-color: transparent;
	color: #41b883;
  border: none;
  outline: none;
  font-weight: bold;
}
.modal-close::before {
  content: 'X'
}
.modal-button-area {
  margin: auto;
  text-align: center;
}
.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
