<template>
	<div class="content">
		<transition name="fade" mode="out-in">
			<main-view v-if="view === 'MAIN'" v-bind:user="user"></main-view>
			<login v-else-if="view === 'LOGIN'" @onClickRegister="changeView" @onLogin="onLogin"></login>
			<register v-else-if="view === 'REGISTER'" @onClickBack="changeView"></register>
		</transition>
	</div>
</template>

<script>
import MainComponent from './components/MainComponent.vue'
import LoginComponent from './components/LoginComponent.vue'
import RegisterComponent from './components/RegisterComponent.vue'

export default {
  data () {
    return {
			user: {},
			view: 'LOGIN',
			login: false
    }
	},
	created() {
		this.$http.post('/process/sessionCheck').then(result => {
			var user = result.data.user
			if(user) {
				this.onLogin(user)
			}
		}).catch(err => {
			console.log(`세션 확인 중 오류가 발생하였습니다. ${err}`)
		})
	},	
  components: {
		'main-view': MainComponent,
    'login': LoginComponent,
		'register': RegisterComponent
  },
  methods: {
		onLogin(user) {
			this.user = user
			this.login = true
			this.view = 'MAIN'
		},
    changeView(viewName) {
			this.view = viewName
		}
  }
}
</script>

<style>
*:focus {
  outline: none;
}
html, body {
  background-color: #41b883;
  margin: 0;
  padding: 0;
}
.content {
	width: 100%;
	height: 100px;
}
.input-area {
  margin-top: 50px;
  position: relative;
}
.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-size: 1rem;
  width: 60%;
  height: 40px;
  left: 20%;
  position: absolute;
}
.input:disabled {
  color: #aaa;
  opacity: 0.5;
}
.input::-webkit-input-placeholder {
  color: #AAA;
}
.input:focus::-webkit-input-placeholder {
  color: #41b883;
}
.input:focus+.underline {
  transform: scale(1);
}
.underline {
  background-color: #41b883;
  display: inline-block;
  height: 2px;
  left: 20%;
  position: absolute;
  top: 38px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  width: 60%;
}
.btn-submit {
  position: absolute;
  background-color: #35495e;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 30%;
  height: 12%;
  bottom: 10%;
  left: 35%;
}
.btn-submit:hover {
  background-color: #092238;
  color: #eee;
}
.btn-submit:disabled {
  background-color: #8b8b8b;
}
.under-text {
  cursor: pointer;
  position: absolute;
  color: #777;
  text-decoration: none;
  font-size: 0.8rem;
  text-align: center;
  bottom: 5px;
  width: 40%;
  left: 30%;
}
.under-text:hover {
  text-decoration: underline;
  color: #41b883;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
</style>
